# Ollama connection settings
# Examples:
# Local machine (default): http://host.docker.internal:11434
# Local network: http://192.168.x.x:11434
# Remote server: http://external.ollama.com:11434
OLLAMA_HOST=http://host.docker.internal:11434